<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Learning TestNG" parallel="tests">
	<test name="Application test" allow-return-values="true">
		<classes>
			<class name="testcases.AppkicationTest">
			</class>
		</classes>
	</test>
	<test name="Login Test" allow-return-values="true">
		<classes>
			<class name="testcases.LoginTest"></class>
		</classes>
	</test>
	<test name="Registration Test" allow-return-values="true">
		<classes>
			<class name="testcases.RegisTest"></class>
		</classes>
	</test>
</suite>